{% extends "common/base.html" %}
{% load profile_tags %}
{% load static %}

{% block content %}
  {% if project and project.slug %}
    <section class="project-header">
      <h1>{{ project.title|capfirst }}</h1>

        {% if project.is_disabled %}
            <div class="project-warning-alert">
                <i class="fa-solid fa-ban"></i>
                This project has been disabled.

                {% if project.moderation_note %}
                    <br>
                    <strong>Reason:</strong> {{ project.moderation_note }}
                {% endif %}
            </div>

        {% elif project.is_locked %}
            <div class="project-warning-alert">
                <i class="fa-solid fa-lock"></i>
                This project is currently locked. You cannot make changes.
            </div>
        {% endif %}

      <nav class="project-nav">
        <a href="{% url 'project-overview' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-overview' %}active{% endif %}">
          Overview
        </a>

        <a href="{% url 'project-members' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-members' %}active{% endif %}">
          Members
        </a>

        <a href="{% url 'project-organizations' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-organizations' %}active{% endif %}">
          Organizations
        </a>

        <a href="{% url 'project-articles' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-articles' %}active{% endif %}">
          Articles
        </a>

        <a href="{% url 'project-events' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-events' %}active{% endif %}">
          Events
        </a>

        <a href="{% url 'project-comments-page' project.slug %}"
           class="{% if request.resolver_match.url_name == 'project-comments-page' %}active{% endif %}">
          Comments
        </a>

        {% if request.user|has_profile %}
            <a href="{% url 'project-message' project.slug %}"
               class="{% if request.resolver_match.url_name == 'project-message' %}active{% endif %}">
              Contact team
            </a>
        {% endif %}

        {% if can_manage %}
            <a href="{% url 'project-update' project.slug %}"
               class="{% if request.resolver_match.url_name == 'project-update' %}active{% endif %}">
                Edit
            </a>
        {% endif %}


        {% if request.user == project.created_by %}
          <a href="{% url 'project-delete' project.slug %}"
             class="{% if request.resolver_match.url_name == 'project-delete' %}active{% endif %}">
              Delete
          </a>
        {% endif %}
      </nav>
    </section>
  {% endif %}

  <section class="project-content">
      {% block project_content %}

      {% endblock %}
  </section>
{% endblock %}