{% extends "projects/base.html" %}

{% block project_content %}
<h2>Project Members</h2>

<section class="project-members">

  {% if project.leader %}
    <div class="project-leader">
      <h3>Project Leader</h3>

      <div class="member-card">
        <a href="{% url 'profile-details' project.leader.slug %}">
          {% if project.leader.profile_picture %}
            <img src="{{ project.leader.profile_picture.url }}" class="member-pic">
          {% elif project.leader.profile_picture_url %}
            <img src="{{ project.leader.profile_picture_url }}" class="member-pic">
          {% else %}
            <img src="{% static 'images/no_image.png' %}" class="member-pic">
          {% endif %}
        </a>

        <div class="member-info">
          <strong>{{ project.leader.full_name }}</strong><br>
          {{ project.leader.get_academic_position_display }}<br>
          {{ project.leader.affiliation }}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="project-members-list">
    <h3>Members</h3>

    {% for member in project.members.all %}
      <div class="member-card">
        <a href="{% url 'profile-details' member.slug %}">
          {% if member.profile_picture %}
            <img src="{{ member.profile_picture.url }}" class="member-pic">
          {% elif member.profile_picture_url %}
            <img src="{{ member.profile_picture_url }}" class="member-pic">
          {% else %}
            <img src="{% static 'images/no_image.png' %}" class="member-pic">
          {% endif %}
        </a>

        <div class="member-info">
          <strong>{{ member.full_name }}</strong><br>
          {{ member.get_academic_position_display }}<br>
          {{ member.affiliation }}
        </div>
      </div>
    {% empty %}
      <p>No members have been added yet.</p>
    {% endfor %}
  </div>

</section>
{% endblock %}