{% extends "projects/project-base.html" %}

{% block project_content %}
  <div class="project-ov">

    <div class="project-desc">
      {{ project.description|capfirst }}
    </div>

    <div class="project-metadata">
      <dl>
        <dt>Status:</dt>
        <dd>{{ project.get_status_display }}</dd>

        <dt>Category:</dt>
        <dd>{{ project.get_category_display }}</dd>

        <dt>Members:</dt>
        <dd>{{ members_count }}</dd>

        <dt>Published articles:</dt>
        <dd>{{ articles_count }}</dd>

        <dt>Visited scientific events:</dt>
        <dd>{{ events_count }}</dd>
      </dl>
    </div>

  </div>
{% endblock %}