{% extends "projects/project-base.html" %}

{% block project_content %}
  <h2>Events</h2>

  <div class="event-list">
    {% for event in events %}
      <div class="event-item">
        <strong>{{ event.name }}</strong>

        <div class="event-meta">
          {{ event.start_date }}
          {% if event.end_date %}
            – {{ event.end_date }}
          {% endif %}
        </div>
      </div>
        <a href="{% url 'project-event-edit' project.slug event.pk %}">Edit</a>
        <a href="{% url 'project-event-delete' project.slug event.pk %}">Delete</a>
    {% empty %}
      <p>No events yet.</p>
    {% endfor %}
    <a href="{% url 'project-event-add' project.slug %}">Add event</a>
  </div>
{% endblock %}