{% extends "common/base.html" %}


{% block content %}
    <section class="project-category-page">
      <h1 class="project-category-title">{{ category_label }}</h1>

      {% if projects %}
        <ul class="project-list">
          {% for project in projects %}
            <li class="project-card">
                <a href="{% url 'project-overview' project.slug %}">
                    {{ project.title }}
                </a>
                <div class="project-meta">
                    {{ project.project_number }}
                </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="project-empty">No projects in this category yet.</p>
      {% endif %}
    </section>
{% endblock %}