{% extends "common/base.html" %}

{% load static %}

{% block content %}
<div class="project-members-form-page">
    <h2>Project Members</h2>
    <div class="form-members-instructions">
        <p>Members may be added one at a time, or you can return later to update the project team.</p>
        <p>After selecting <strong>Add member</strong>, the form will reset for additional entries.</p>
        <p>When you have finished adding members for now, click <strong>Done adding members</strong>.</p>
    </div>

    <section class="project-members">

      <form method="post" class="project-form">
        {% csrf_token %}
          {% for field in form %}
              {% if field.name != "scientist" or form.scientist %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                  </label>

                  {{ field }}

                  {% for error in field.errors %}
                    <div class="form-error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}

        <div class="form-actions">
          <button type="submit" class="btn-project-member-action">
            Add member
          </button>

          <a href="{% url 'project-members' project.slug %}"
             class="btn-secondary">
            Done adding members
          </a>
        </div>

      </form>
    </section>
</div>

{% endblock %}