{% extends "common/base.html" %}
{% block content %}

<div class="profile-container">
    <div class="profile-card">

        <div class="auth-header">
            <h2>Set New Password</h2>
        </div>

        <form method="post" class="profile-form">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="form-error">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="profile-actions">
                <button type="submit" class="btn-secondary auth-submit">
                    Reset Password
                </button>
            </div>
        </form>

    </div>
</div>

{% endblock %}
