{% load static %}

<nav class="nav">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'category-list' %}">Project Categories</a></li>

    {% if request.user.is_authenticated %}
      <li><a href="{% url 'project-create' %}">Add Project</a></li>
      <li><a href="{% url 'project-list' %}">Projects</a></li>

      {% if request.user.scientist_profile %}
{#        <li><a href="{% url 'profile-details' %}">Profile</a></li>#}
          <li>
            <a href="{% url 'profile-details' %}">
{#                {% include "common/profile_image.html" with scientist=request.user.scientist_profile %}#}
                {% if request.user.scientist_profile.profile_picture %}
                    <img src="{{ request.user.scientist_profile.profile_picture.url }}"
                         alt="Profile" class="nav-profile-pic">
                {% elif request.user.scientist_profile.profile_picture_url %}
                    <img src="{{ request.user.scientist_profile.profile_picture_url }}"
                         alt="Profile" class="nav-profile-pic">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}"
                         alt="Profile" class="nav-profile-pic">
                {% endif %}
            </a>
        </li>
      {% else %}
        <li><a href="{% url 'profile-create' %}">Create Profile</a></li>
      {% endif %}

{#      <li>#}
{#        <a href="{% url 'logout' %}" class="btn-link">Logout</a>#}
{#      </li>#}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-link">Logout</button>
        </form>
    {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
  </ul>
</nav>