{% extends "projects/project-base.html" %}

{% block project_content %}
<div class="article-section-delete">
  <h2>Delete participation</h2>
  <div class="delete-warning">
      <p>Are you sure you want to delete:</p>
      <p><strong>{{ object.title }}</strong></p>
  </div>

  <form method="post" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="btn-article-delete">
      Yes, delete the participation
    </button>
    <a href="{% url 'project-events' project.slug %}" class="btn-article-cancel">
      Cancel
    </a>
  </form>
</div>
{% endblock %}